<div class='nav-bar'>
	<div class='container'>
		<%= link_to 'Root', root_path, class: 'nav-btn pull-left' %>
		<a class='nav-btn pull-left' href='##'>Competition</a>
		<a class='nav-btn pull-left' href='##'>Result</a>
		<%= link_to 'Codes', codes_path, class: 'nav-btn pull-left' %>
		<a class='nav-btn pull-left' href='##'>Discussion</a>
		<a class='nav-btn pull-right <%= 'hide' unless session[:user_id].nil? %>'
			id='login_lst' href='##'>Login<small>▼</small></a>
		<span class='pull-right <%= 'hide' if session[:user_id].nil? %>' id='welcome_span'>
			<span id='welcome_txt' class='nav-text'>Welcome,
			<%= User.find(session[:user_id]).name unless session[:user_id].nil? %>!</span>
			<a id='logout_btn' class='btn' href='##'>Logout</a>
		</span>
	</div>

	<div class='login'>
		<div class='container'>
			<form class='hide pull-right' id='login_form'>
				Enter your credentials:
				<input type='text' id='username_txt' class='text-long'/>
				<input type='password' id='password_txt' class='text-long'/>
				<div class='btn-line'>
					<a id='reg_btn' class='pull-right btn' href='##'>Sign up</a>
					<a id='log_btn' class='pull-right btn' href='##'>Sign in</a>
				</div>
			</form>
		</div>
	</div>

	<div class='nav-background'></div>
</div>