<div class='nav-bar'>
	<div class='container'>
		<%= link_to 'Root', root_path, id: 'root_link', class: 'nav-btn pull-left' %>
		<%= link_to 'Codes', codes_path, class: 'nav-btn pull-left' %>
		<%= link_to 'Match', matches_path, class: 'nav-btn pull-left' %>
		<%= link_to 'Contests', contests_path, class: 'nav-btn pull-left' %>
		<a class='nav-btn pull-left' href='##'>Discussion</a>
		<a class='nav-btn pull-right <%= 'hide' unless @user.nil? %>'
			id='login_lst' href='##'>Login<small>▼</small></a>
		<span class='pull-right <%= 'hide' if @user.nil? %>' id='welcome_span'>
			<span id='welcome_txt' class='nav-text'>Welcome,
			<%= @user.name unless @user.nil? %>!</span>
			<%= link_to 'Logout', logout_users_path, class: 'btn' %>
		</span>
	</div>

	<div class='login'>
		<div class='container'>
			<form class='hide pull-right' id='login_form'>
				Enter your credentials:
				<input type='text' id='username_txt' class='text-long'/>
				<input type='password' id='password_txt' class='text-long'/>
				<div class='btn-line'>
					<a id='reg_btn' class='pull-right btn' href='##'>Sign up</a>
					<a id='log_btn' class='pull-right btn' href='##'>Sign in</a>
					<input type='submit' class='hide' />
				</div>
			</form>
		</div>
	</div>

	<div class='nav-background'></div>
</div>