<%= form_for @contest do |f| %>
	<h1>
		<span>$</span>
		/
		<span>Contest</span>
		/
		<%= f.text_field :name, class: 'text-long text-large text-title inline', placeholder: 'Enter Name...', required: true %>
	</h1>
	<%= f.label :description, for: :description %>
	<br/><%= f.text_area :description %><br/>
	<%= f.label :round, for: :round %>
	<%= f.text_field :round, class: 'text-long', placeholder: 'Enter Rounds...', required: true %>
	<%= f.submit 'Save', class: 'btn' %>
<% end %>