<h1>
	<span><%= link_to '$', root_path %></span>
	/
	<span><%= link_to 'Contests', contests_path %></span>
	/
	<span><%= link_to @contest.name, @contest %></span>

	<%= link_to 'Join', join_contest_path, class: 'btn pull-right' if !@contest.joint?(@user) && @contest.status == 0 %>

	<% if @contest.admin? @user %>
		<%= link_to 'Open', open_contest_path, class: 'btn pull-right' if @contest.status == 0 %>
		<%= link_to 'Test', test_contest_path, class: 'btn pull-right' if @contest.status == 1 %>
		<%= link_to 'Delete', @contest, method: :delete, class: 'btn btn-alert pull-right' %>
	<% end %>
</h1>

<div class='pull-left'>
	<h2>Description</h2>
	<% unless @contest.description.nil? || @contest.description.empty? %>
		<% @contest.description.each_line do |line| %>
			<p><%= line %></p>
		<% end%>
	<% else %>
		<p>None</p>
	<% end %>

	<h3>
	<% if @contest.status == 0 %>
		Open For Competitors
	<% elsif @contest.status == 1 %>
		Waiting For Round: <%= @contest.round %>
	<% elsif @contest.status == 2 %>
		Judging Round: <%= @contest.round %>
	<% else %>
		Ended
	<% end %>
	</h3>

	<h3>Owner: <%= @contest.owner.name %></h3>
</div>

<table class='table pull-right'>
	<tr>
		<th>Competitor</th>
		<th>Score</th>
	</tr>
	<% @contest.rank.each do |competitor| %>
	<tr>
		<td><%= competitor.user.name %></td>
		<td><%= competitor.score %></td>
	</tr>
	<% end %>
</table>