<%= form_for @code, html: { class: 'editor' } do |f| %>
	<h1>
		<span><%= link_to @user.name, codes_path %></span>
		/
		<%= f.text_field :name, class: 'text-long text-large editor-title-text inline', placeholder: 'Enter Name...' %>
	</h1>
	<div class='editor-container'>
		<div class='editor-bar'>
			<%= f.submit 'Save', class: 'btn pull-right' %>
		</div>
		<table>
			<tr>
				<td>

				</td>
				<td>
					<%= f.text_area :code, class: 'editor-area' %>
				</td>
			</tr>
		</table>
	</div>
<% end %>