<%= form_for @code, html: { class: 'editor' } do |f| %>
	<h1>
		<span><%= link_to @user.name, codes_path %></span>
		/
		<%= f.text_field :name, class: 'text-long text-large editor-title-text inline', placeholder: 'Enter Name...', required: true %>
	</h1>
	<div class='editor-container'>
		<div class='editor-bar'>
			<div class='editor-info pull-left'>
				<span id='line_info'></span>
			</div>
			<%= f.submit 'Save', class: 'btn pull-right' %>
		</div>
		<div class="code-line-num-container">
			<div class="code-line-num" id="code-line-num"></div>
		</div>
		<div class="editor-area-container">
			<%= f.text_area :code, class: 'editor-area', required: true %>
		</div>
	</div>
<% end %>
