<h1>
	<span><%= link_to @user.name, codes_path %></span>
	/
	<%= link_to 'Upload', upload_codes_path, class: 'btn pull-right' %>
	<%= link_to 'Create', new_code_path, class: 'btn pull-right' %>
</h1>
<ul>
	<% @codes.each do |code| %>
		<li>
			<span><%= link_to code.name, code %></span> 
			<!-- <span><%= link_to "Edit", edit_code_path(code) %></span>
			<span><%= link_to "Delete", code, method: :delete %></span> -->
		</li>
	<% end %>
</ul>
