<h1>
	<span><%= link_to @user.name, codes_path %></span>
	/
	<%= link_to 'Upload', upload_codes_path, class: 'btn pull-right' %>
	<%= link_to 'Create', new_code_path, class: 'btn pull-right' %>
</h1>
<table class='table table-full'>
	<tr>
		<th>Name</th>
		<th>Lines</th>
		<th>Created</th>
		<th>Updated</th>
	</tr>
	<% @codes.each do |code| %>
		<tr>
			<td><%= link_to code.name + if code._id == @user.default_id then '(Default)' else '' end, code %></td>
			<td><%= code.code.lines.size %></td>
			<td><%= code.created_at %></td>
			<td><%= code.updated_at %></td>
		</tr>
	<% end %>
</table>
