<h1>
	<span><%= link_to '$', root_path %></span>
	/
	<span>Match</span>
	/
	<span><%= link_to @user.name, matches_path %></span>
</h1>
<table class='table table-full'>
	<tr>
		<th>Name</th>
		<th>Status</th>
		<th>Created At</th>
		<th>Finished At</th>
	</tr>
	<% @matches.each do |index, match| %>
		<tr>
			<td>
				<% if match.status == 1 %>
					<%= link_to match.name, match %>
				<% else %>
					<%= match.name %>
				<% end %>
			</td>
			<td><%= match.status_msg %></td>
			<td><%= match.created_at %></td>
			<td><%= if match.finished? then match.updated_at else '-' end %></td>
		</tr>
	<% end %>
</table>