<h1>All Matches Relevant to <%= @user.name %></h1>
<table class='table table-full'>
	<tr>
		<th>Name</th>
		<th>Status</th>
		<th>Created</th>
		<th>Updated</th>
	</tr>
	<% @matches.each do |index, match| %>
		<% status = if match.finished? then 'Finished' else 'Judging...' end %>
		<tr>
			<td>
				<% if match.finished? %>
					<%= link_to match.name, match %>
				<% else %>
					<%= match.name %>
				<% end %>
			</td>
			<td><%= status %></td>
			<td><%= match.created_at %></td>
			<td><%= match.updated_at %></td>
		</tr>
	<% end %>
</table>